h1 { color:aqua; 
background-color: cadetblue}

p { 
    font-size: 24px;
}
 
footer { color: white;
     background-color: black;}

section { background-color: forestgreen }

header { color: darkgray; }