body {
  margin: 20px;
}

* {
  box-sizing: border-box;
    margin: 10px
}

#wrapper {
  border: 2px dotted slategray;
  width: 800px;
  margin: 0 auto;
}
footer {
    border: 2px dashed lightgray;
    margin: 5px;
    padding: 5px;
    
        
}
a {
    color: grey;
}
header { background-color: lightgrey;
    margin: 2px;
    padding: 1px;
    
}
.res img { 
    margin: 5px;
    display: inline;
    border: 2px dotted darkgray;
}
.res span {
    display: block;
}
res. {
    text-align: left;
    float: left;
}
a:link {
    background-color: lightgrey;
    color: white;
    padding: 3px 5px;
    text-align: center;
    display: inline-block
}