body {
    position: relative;
    left: 0;
    right: 0;
    margin: 50px auto;
    width: 800px; 
    box-sizing: border-box;
}
h1 {
font-weight: 600;
font-family: 'helvetica', 'Arial', sans-serif;
text-shadow: 3px 6px 2px rgba(0, 0, 0, .3); 
font-size: 185%;
text-decoration: underline
}
div {
    font-style: oblique;
    text-align: center; 
    width: 600px;
    margin: auto;
    font-variant: small-caps;
    font-size: 130%;
    word-spacing: 4px;
    
}

p {
    text-transform: lowercase;
    text-indent: 50px;
    line-height: 30px;
}

footer {
position: relative;
width: 100%;
height 50px;
top: 850px
}

.letter-spacing {
    font-family: Palatino;
    letter-spacing: 3px;
    text-decoration-color: red;
    text-decoration: line-through;
    line-height: 50px
}