*{
   box-sizing: border-box;
    margin: 0 auto;
    font-family: "helvetica", "Times New Roman", sans-serif;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: lightgray;
    border-width: 5px;
    border-color: black;
    height: 110px
}

header a {
    display: inline-block;
    margin: 12px;
    border-color: cornflowerblue;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 25px;
    background-color: blueviolet;
    color: black
}

header img {
    float: right;
    text-align: center;
}

a:hover {
    background-color: royalblue;
}

a:visited {
    color: none;
}

a:link {
    text-decoration: none;
}

.homepage-signup {
    background-image: url(photo_homepage_top.jpg);
    background-size: cover;
    align-items: center;
    color: white;
    width: 1200px;
    height: 800px;
    overflow: hidden;
}

.homepage-signup h1 {
    font-size: 100px;
    text-align: center;
    margin-top: 200px  
}

.homepage-signup p {
    font-size: 25px;
    width: 600px;
    margin-top: 50px;
}

.homepage-signup a {
    display: inline-block;
    margin: 12px;
    border-color: cornflowerblue;
    border-style: solid;
    border-width: 2px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 50px;
    background-color: white;
    color: black;
    margin-left: 475px;
    margin-top: 50px;
    border-radius: 10px;
}

.homepage-signup a:hover {
    background-color: blueviolet;
}


.feature1 {
    display: inline-block;
    float: right;
    margin: 50px 0px 10px 0px;
    width: 300px;
    text-align: center;
}

.feature2 {
   display: inline-block;
    float: right;
    margin: 50px 0px 10px 0px;
    width: 300px; 
    text-align: center;
}

.feature3 {
   display: inline-block;
    float: right;
    margin: 50px 0px 10px 0px;
    width: 300px;
    text-align: center;
}

.feature4 {
   display: inline-block;
    float: right;
    margin: 50px 0px 10px 0px;
    width: 300px; 
    text-align: center;
}

.homepage_feature p, h2 {
    margin: 25px
}

.big_view {
    margin-top: 50px;  
    float: left;
    width: 550px;
    margin-right: 20px;
}

.big_view p {
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 50px;
}

.big_view a {
   padding: 15px 50px ;
   font-size: 20px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

.big_view h1 {
    font-size: 35px;
}

.big_pic {
    float: right;
    margin-top: 50px;
    margin-right: 15px;
    background-image: url(viewconcert.jpg);
    width: 600px;
    height: 400px;
}

footer {
    margin-top: 60px;
    float: right;
    width: 1200px;
    text-align: right;
    height: 150px;
    font-size: 20px;
    padding-right: 20px;
    padding-top: 70px;
    background-color: lightgrey;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

footer p {
    margin-top: 10px;
}

footer a:link {
    margin-left: 30px;
    text-decoration: underline;
    
}

.blog_post {
    font-size: 20px;
    margin-top: 50px;
    word-spacing: 8px; 
}

.firstimage {
    float: right;
    position: relative;
    bottom 100px;
    margin: 10px;
}

.blog_post p {
    word-spacing: 12px;
    line-height: 35px
}

.blog_post h1 {
    line-height: 100px;
}

.secondimage {
    float:left;
    position: relative;
    margin: 10px;
} 

.first_feature {
    width: 560px;
    float: right;
    margin-top: 50px;
    height: 205px;
}

.second_feature {
   width: 560px; 
   float: right;
   margin-top: 50px;
   margin-right: 30px;
    height: 205px;
}

.third_feature {
    width: 560px;
    float: right;
    margin-top: 50px;
    height: 205px;
}

.fourth_feature {
    width: 560px;
    float: right;
    margin-top: 50px;
    margin-right:30px;
    height: 205px;
}

.fourfeatures h2 {
    width: 200px;
    text-align: left;
    margin: 0;
    float: right;
    position: relative;
    left: -50px;
}

.fourfeatures p {
    width: 200px;
    margin: 0;
    float: right;
    margin-top: 0;
    position: relative;
    top: -150px;
    left: -50px;
    
}


.fourfeatures {
    width: 1200px;
    height: 700px;
    margin-top: 30px;
}

.bigolfeature {
    text-align: center;
    margin-top: -80px;
}

.bigolfeature p {
    width: 900px;
}

.bigolfeature img {
    height: 550px;
    width: 1050px;
    overflow: hidden;
}

.fivethings {
    margin-top: 50px;
    text-align: center;
    width: 1050px;
}

.fivethings p {
    margin: 45px 200px 35px 200px;
}

.fivethings a {
    display: inline-block;
    margin: 12px;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    padding: 10px 45px 10px 45px;
    text-align: center;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    
}

.fivethings a:hover {
    background-color: blueviolet;
}

.pricingpackage {
    width: 1100px;
    margin-top: 50px;
}

.leastexpensive {
    width: 300px;
    float: left;
    height: 550px;
    position: relative;
    text-align: center;
    padding: 0px 25px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}

.middleexpensive {
    width: 400px;
    height: 550px;
    position: relative;
    text-align: center;
    padding: 25px 50px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}

.mostexpensive {
    width: 300px;
    height: 550px;
    float: right;
    position: relative;
    text-align: center;
    padding: 0px 25px;
    bottom: 550px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    
}

.pricingpackage h2 {
    font-size: 100px;
    font-weight: 100;
}

.pricingpackage h1 {
    font-size: 100px;
}

.pricingpackage p {
    margin-top: 25px;
}

.leastexpensive a {
    position: relative;
    top: 200px;
    font-size: 25px;
     border-radius: 10px;
    padding: 10px 25px;
    border-style: solid;
    border-color: black;
}

.middleexpensive a {
    position: relative;
    top: 188px;
    font-size: 25px;
     border-radius: 10px;
    padding: 10px 25px;
    border-style: solid;
    border-color: black;
}

.mostexpensive a {
    position: relative;
    bottom: -110px;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px 25px;
    border-style: solid;
    border-color: black;
}

.convinced {
    margin-top: 70px;
    text-align: center;
    width: 600px;
    position: relative;
    right: -25px;
}

.convinced a {
    position: relative;
    top: 80px;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px 55px;
    border-style: solid;
    border-color: black;
}

.convinced h4 {
    font-size: 20px;
    font-weight: 100;
    word-spacing: 8px;
}

.convinced h3 {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
}
